body {
    font-family: Arial;
    margin: 0;
    text-align: center;
    background: linear-gradient(135deg,#1e3c72,#2a5298);
    color: white;
}

.hidden { display: none; }

.login {
    margin-top: 100px;
}

input {
    padding: 8px;
    margin: 5px;
}

button {
    padding: 8px 15px;
    margin: 5px;
    cursor: pointer;
}

table {
    margin: 20px auto;
    background: white;
    color: black;
    border-collapse: collapse;
}

th, td {
    padding: 8px;
    border: 1px solid #ccc;
}
