body {
    font-family: Arial;
    padding: 20px;
}

nav button {
    margin-right: 10px;
    padding: 8px;
}

input, textarea {
    display: block;
    margin: 5px 0;
    padding: 6px;
    width: 200px;
}

textarea {
    width: 300px;
    height: 100px;
}

.tab {
    margin-top: 20px;
}

.hidden {
    display: none;
}
